.Track {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .Track-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
  }
  
  .Track-information h3 {
    margin-bottom: .5rem;
  }
  
  .Track-information p {
    font-size: .8rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
  }

  .Track-action:hover {
    color: black;
  }

  .Track-action button {
    color: blueviolet;
  }